### _Extract Data_

In [69]:
import requests
import pandas as pd
from IPython.display import display
import firebase_admin
from firebase_admin import storage
from firebase_admin import credentials

In [70]:
df = pd.read_csv("data_source/survey.csv")

display(df)

,name,age,favorite_front_end,favorite_back_end,salary_per_year_in_USD,company_type
0,John Doe,19,JavaScript,Node.js,26000 - 40000,software house
1,Jane Smith,31-40,React,Java,more than 60000,fintech
2,Alice Johnson,17-20,HTML/CSS,Python,10000 - 25000,freelance
3,Bob Williams,26-30,Angular,PHP,41000 - 60000,software house
4,Emily Davis,21-25,-,C#,10000 - 25000,edutech
...,...,...,...,...,...,...
74,Liam Harris,31-40,HTML/CSS,PHP,more than 60000,software house
75,Olivia Robinson,17-20,React,Node.js,26000 - 40000,freelance
76,Noah Rodriguez,21-25,Vue.js,Python,41000 - 60000,software house
77,Emma Lee,26-30,-,Java,10000 - 25000,government
78,Aiden Martinez,31-40,Angular,C#,more than 60000,fintech

### _Transform Data_

In [71]:
#Check all duplicate rows
print(f"Jumlah data yang duplikat: {df.duplicated().sum()}")

# Drop all duplicate rows
df_clean = df.drop_duplicates()
display(df_clean)

Jumlah data yang duplikat: 61

,name,age,favorite_front_end,favorite_back_end,salary_per_year_in_USD,company_type
0,John Doe,19,JavaScript,Node.js,26000 - 40000,software house
1,Jane Smith,31-40,React,Java,more than 60000,fintech
2,Alice Johnson,17-20,HTML/CSS,Python,10000 - 25000,freelance
3,Bob Williams,26-30,Angular,PHP,41000 - 60000,software house
4,Emily Davis,21-25,-,C#,10000 - 25000,edutech
10,Sam Brown,-,Vue.js,Node.js,26000 - 40000,software house
11,Sophie White,21-25,React,Python,NaN,fintech
12,Chris Turner,17-20,JavaScript,NaN,41000 - 60000,edutech
13,Mia Green,26-30,Angular,Java,10000 - 25000,government
14,Liam Harris,31-40,HTML/CSS,PHP,more than 60000,software house
15,Olivia Robinson,17-20,React,Node.js,26000 - 40000,freelance
16,Noah Rodriguez,21-25,Vue.js,Python,41000 - 60000,software house
17,Emma Lee,26-30,-,Java,10000 - 25000,government
18,Aiden Martinez,31-40,Angular,C#,more than 60000,fintech
19,Ava Walker,17-20,JavaScript,PHP,26000 - 40000,software house
20,James Young,21-25,React,Node.js,NaN,edutech
21,Chloe Turner,26-30,HTML/CSS,Python,10000 - 25000,freelance
22,Liam Harris,31-40,Angular,Java,more than 60000,software house

In [72]:
# Check the number of null values
df_isnull = df_clean.isnull().sum()
print(f"Jumlah data yang bernilai null:\n{df_isnull}")

# Fill the null values with "-"
df_clean = df_clean.fillna("-")
display(df_clean)

Jumlah data yang bernilai null:
name                      0
age                       0
favorite_front_end        0
favorite_back_end         1
salary_per_year_in_USD    2
company_type              0
dtype: int64

,name,age,favorite_front_end,favorite_back_end,salary_per_year_in_USD,company_type
0,John Doe,19,JavaScript,Node.js,26000 - 40000,software house
1,Jane Smith,31-40,React,Java,more than 60000,fintech
2,Alice Johnson,17-20,HTML/CSS,Python,10000 - 25000,freelance
3,Bob Williams,26-30,Angular,PHP,41000 - 60000,software house
4,Emily Davis,21-25,-,C#,10000 - 25000,edutech
10,Sam Brown,-,Vue.js,Node.js,26000 - 40000,software house
11,Sophie White,21-25,React,Python,-,fintech
12,Chris Turner,17-20,JavaScript,-,41000 - 60000,edutech
13,Mia Green,26-30,Angular,Java,10000 - 25000,government
14,Liam Harris,31-40,HTML/CSS,PHP,more than 60000,software house
15,Olivia Robinson,17-20,React,Node.js,26000 - 40000,freelance
16,Noah Rodriguez,21-25,Vue.js,Python,41000 - 60000,software house
17,Emma Lee,26-30,-,Java,10000 - 25000,government
18,Aiden Martinez,31-40,Angular,C#,more than 60000,fintech
19,Ava Walker,17-20,JavaScript,PHP,26000 - 40000,software house
20,James Young,21-25,React,Node.js,-,edutech
21,Chloe Turner,26-30,HTML/CSS,Python,10000 - 25000,freelance
22,Liam Harris,31-40,Angular,Java,more than 60000,software house

In [73]:
# Save the cleaned data to a new CSV file
df_clean.to_csv("data_source/survey_clean.csv", index=False)

### _Load Data_

In [77]:
def load_data() :
    try:
        cred = credentials.Certificate("serviceAccountKey.json")
        storage_bucket = "project-1-418609.appspot.com"
        firebase_admin.initialize_app(cred, {"storageBucket": storage_bucket})
        bucket = storage.bucket()
                
        file_path = "data_source/"
        file_name = "survey_clean.csv"
                
        blob = bucket.blob(file_name)
        blob.upload_from_filename(file_path + file_name)
                
        print(f"Data has been successfully loaded to the storage")
    except Exception as e:
        print(f"An error occurred when loading data to the storage: {e}")

load_data()

Data has been successfully loaded to the storage